/* About.js 에서 공통으로 사용되는 속성 */
/* About 컴포넌트 스타일 */
.about-container {
    width: 100vw;
    height: 2300px;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 50px;
}

@keyframes headerLineAni {
    0% {
        width: 0px;
    }

    100% {
        width: 190px;
    }
}

/* Introduction 컴포넌트 스타일 */
.intro-container {
    width: 100%;
    flex-direction: column;
    margin: 80px 0px 30px 0px;
    overflow-y: hidden;
}

.intro-container .intro-heading {
    font-size: 30px;
    font-weight: 600;
}

.intro-container .intro-description {
    margin-top: 45px;
    line-height: 38px;
    letter-spacing: 0.8px;
    font-size: 18px;
}



/* Skills 컴포넌트 스타일  */
/* skills, vision, contact 부모 컨테이너 스타일 */
.skills-container,
.vision-container,
.contact-container {
    width: 100%;
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    margin-bottom: 10px;
}

.common-header {
    font-size: 40px;
    font-weight: 800;
    width: 100%;
    overflow-y: hidden;
}

.common-header-detailText {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;
}

.skills-container .skills-boxContainer {
    width: 100%;
}

.skills-container .skills-box {
    width: 100%;
    height: 240px;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(85, 85, 85);
    color: white;
    margin-right: 8px;
    position: relative;
}

.skills-box .skills-boxSkillTitle {
    height: 35px;
    font-size: 17px;
    font-weight: 600;
    margin: 23px 0px 25px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.skills-box .skills-boxSkillsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;
    overflow-y: hidden;
}

.skills-box .skills-boxSkills {
    width: 80px;
    height: 62px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 5px 8px 5px;
}

.skills-boxSkills .skills-boxSkillsImg {
    width: 35px;
}




/* vision 컴포넌트 스타일  */
.vision-container .vision-boxContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 16px;
    width: 95%;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(148, 148, 148, 0.1);
}

.vision-boxContainer .vision-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vision-box .vision-title {
    font-weight: bold;
    margin-bottom: 15px;
    padding-left: 5px;
}

.vision-box .vision-text {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #f3f3f3;
    margin-bottom: 10px;
    padding: 8px 12px;
}



/* Contact 컴포넌트 스타일  */
.contact-container {
    height: 650px;
    margin-top: 20px;
}

.contact-container .contact-form {
    width: 550px;
    height: 490px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 35px;
    flex-direction: column;
    position: relative;
}

.contact-form .contact-title {
    position: absolute;
    top: 20px;
    font-size: 30px;
    font-weight: 600;
}

.contact-form .common-contact {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}

.contact-form .common-contact input {
    height: 38px;
}

.contact-form .common-contact textarea {
    height: 140px;
}

.contact-form .common-contact-label {
    font-size: 16px;
    margin-right: 10px;
    width: 70px;
}

.common-contact .common-contact-write {
    width: 90%;
    border-radius: 6px;
    border: 1.5px solid rgb(162, 162, 162);
    padding: 10px;
    font-size: 15px;
}

.common-contact .contact-input {
    height: 40px;
}

.common-contact .contact-textarea {
    resize: none;
}

.common-contact .common-contact-write:focus {
    outline: none;
    border-color: rgb(3, 161, 228);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form .contact-submitBtn {
    border-style: none;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(180, 215, 244);
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: absolute;
    bottom: 30px;
}

.contact-container .contact-formAndinfoCard {
    width: 100%;
    height: 100%;
    flex-direction: row;
    margin-top: 50px;
}

/* 명함 카드  */
.contact-formAndinfoCard .contact-infoCard {
    width: 320px;
    height: 230px;
    margin-left: 50px;
    text-align: center;
    flex-direction: column;
}

/* ---------------- 1024px, 768px, 480px --------------- */

/* 화면 너비가 1024px 이하일때 적용되는 반응형 스타일  */
@media screen and (max-width: 1024px) {
    /* skills 부분 반응형 스타일  */
    .skills-box .skills-boxSkills {
        width: 60px;
        height: 50px;
        margin: 5px;
    }

    .skills-container .skills-box {
        height: 210px;
    }

    .skills-box .skills-boxSkillTitle {
        font-size: 15px;
        margin-bottom: 3px;
    }

}




/* 화면 너비가 768px이하일때 적용되는 반응형 스타일 */
@media screen and (max-width: 768px) {

    /* about 부분 헤더랑 텍스트 부분 반응형 스타일  */
    .about-container {
        height: 3200px;
        padding: 25px;
    }

    .intro-container .intro-heading {
        font-size: 18px;
        font-weight: 700;
    }

    .intro-container .intro-description {
        line-height: 33px;
        letter-spacing: 0.6px;
        font-size: 15px;
    }



    /* skills 부분 반응형 스타일 */
    .common-header {
        font-size: 30px;
        height: 70px;
        margin-top: 60px;
    }

    .skills-container {
        width: 100%;
        height: 900px;
    }

    .skills-container .skills-boxContainer {
        width: 70%;
        height: 100%;
        flex-wrap: wrap;
    }


    .skills-container .skills-box {
        height: 150px;
    }

    .skills-box .skills-boxSkillTitle {
        font-size: 16px;
    }

    .skills-box .skills-boxSkillsContainer {
        flex-wrap: nowrap;
    }

    .skills-box .skills-boxSkills {
        width: 60px;
        height: 45px;
        margin: 0px 5px 0px 5px;
    }

    .skills-boxSkills .skills-boxSkillsImg {
        width: 25px;
    }

    .common-header-detailText {
        height: 60px;
    }






    /* vision 부분 반응형 스타일 */

    .vision-container {
        height: 1000px;
    }

    .vision-container .vision-boxContainer {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    }

    .vision-box .vision-text {
        width: 100%;
        height: 85px;
        font-size: 14px;
        padding: 10px;
    }

    /* contact 부분 스타일  */
    .contact-container {
        height: 700px;
    }

    .contact-container .contact-formAndinfoCard {
        margin-top: 10px;
    }

    .contact-container .contact-form {
        width: 100%;
        height: 450px;
        box-shadow: none;
        padding: 10px;
    }

    .contact-form .common-contact-label {
        font-size: 14px;
        width: 50px;
    }

    .common-contact .common-contact-write {
        font-size: 14px;
    }

    .contact-form .contact-submitBtn {
        width: 80px;
        height: 35px;
        border-radius: 10px;
        font-size: 14px;
    }

    .contact-form .contact-title {
        font-size: 27px;
    }

    .contact-formAndinfoCard .contact-infoCard {
        display: none;
    }
}



/* 화면 너비가 480px 이하일때 적용되는 반응형 스타일 */
@media screen and (max-width: 480px) {

    /* about 부분 반응형 스타일  */
    .about-container {
        height: 3700px;
    }
    /* skills 부분 반응형 스타일 */
    .skills-container .skills-boxContainer {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }
    /* vision 부분 반응형 스타일 */
    .vision-container {
        height: 1200px;
    }
}