.project-container{
    width: 100vw;
    /* height: 2500px; */
    padding: 50px;
    position: relative;
}
/* project 헤더 부분 디자인  */
.project-header-container {
    width: 100%;
    height: 230px;
}
.project-header-container .project-header-text {
    margin-top: 25px;
    font-size: 16px;
}



/* projects 디자인 (프로젝트들 모아둔 중앙 부분)  */
.projects-container {
    width: 100%;
    /* height: 1200px; */
    /* margin-top: 70px; */
    /* background-color: grey; */
    flex-wrap: wrap;
}
.projects-container .projects-box-container {
    width: 390px;
    height: 430px;
    /* background-color: pink; */
    margin: 10px;
    flex-direction: column;
}
.projects-box-container .projects-box {
    width: 95%;
    height: 400px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    border-radius: 15px;
    flex-direction: column;
    position: relative;
}
.projects-box .projects-box-img {
    width: 90%;
    height: 210px;
    position: absolute;
    top: 30px;
    border-radius: 10px;
}
.projects-box .project-box-name {
    position: absolute;
    bottom: 105px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}
.projects-box .projects-box-btn-container {
    width: 100%;
    height: 100px;
    /* background-color: blue; */
    position: absolute;
    bottom: 5px;
}
.projects-box-btn-container .projects-box-btn {
    width: 130px;
    height: 45px;
    margin: 10px;
    border-radius: 15px;
    border-style: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.projects-box-btn-container .projects-box-btn:hover {
    box-shadow: 2px 2px 4px rgb(0, 0, 0,0.2);
}
.projects-box-container .project-box-projectName {
    font-size: 17px;
    font-weight: 500;
    margin-top: 40px;
}




/* projects 자세히보기 클릭시 뜨는 모달창 디자인  */
.projectView-container-black {
    position: fixed;     /* 전체화면 기준으로 고정 */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  /* 어두운 반투명 배경 */
    z-index: 1000;
    padding: 40px;
    /* overflow-y: auto; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.projectView-container-white {
    width: 750px;
    /* height: 1300px; */
    background-color: white;
    border-radius: 15px;
    position: relative;
    /* padding: 45px; */
}
.projectView-closeBtn {
    width: 42px;
    height: 28px;
    border-radius: 15px;
    border-style: none;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
}





/* 모달창 내부 프로젝트 데이터 디자인  */
.readMore-container {
    flex-direction: column;
}
.readMore-container .readMore-title-container {
    width: 100%;
    background-color: pink;
    flex-direction: column;
    padding: 40px;
    margin-bottom: 20px;
}
.readMore-title-container .readMore-name {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 15px;
}
.readMore-title-container .readMore-date {
    font-size: 14px;
        /* margin-bottom: 30px; */
}
.readMore-container .common-readMore-text-container {
    width: 100%;
    /* background-color: skyblue; */
    display: flex;
    flex-direction: column;
    padding: 17px 45px 17px 45px;
    margin-bottom: 10px;
}
.common-readMore-text-container .common-readMore-text {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.5px;
}
.common-readMore-text-container .common-readMore-text-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    overflow-y: hidden;
}
.common-readMore-text-container .common-readMore-text-number {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.common-readMore-text-container .functionNumber-text {
    margin-bottom: 25px;
}
.common-readMore-text-container .readMore-image-container {
    display: flex;
    background-color: blue;
}