.project-container {
    width: 100vw;
    padding: 50px;
    position: relative;
}

/* project 헤더 부분 디자인  */
.project-header-container {
    width: 100%;
}

.project-header-container .project-header-text {
    margin-top: 25px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px;
}



/* projects 디자인 (프로젝트들 모아둔 중앙 부분)  */
.projects-container {
    width: 100%;
    flex-wrap: wrap;
}

.projects-container .projects-box-container {
    width: 420px;
    height: 470px;
    margin: 30px 16px 50px 16px;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.projects-box-container .projects-box {
    width: 100%;
    height: 100%;
    background-color: white;
    flex-direction: column;
    position: relative;
}

.projects-box .projects-box-img {
    width: 100%;
    height: 245px;
    position: absolute;
    top: 0px;
}

.projects-box .proejcts-box-content {
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 20px 30px;
}

.projects-box .project-box-name {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.projects-box .project-box-shortDescription {
    font-size: 14px;
    margin-bottom: 20px;
}

.projects-box .projects-box-btn-container {
    width: 100%;
}

.projects-box .project-box-toolsContainer {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

.project-box-toolsContainer .project-box-tools {
    padding: 4px 8px 4px 8px;
    background-color: rgb(242, 242, 242);
    border-radius: 15px;
    font-size: 13px;
    margin: 0px 10px 9px 0px;

}

.projects-box-btn-container .projects-box-btn {
    width: 145px;
    height: 44px;
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    border-style: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
    border: 1.5px solid rgb(82, 82, 82);
}

.projects-box-btn-container .projects-box-btn:hover {
    background-color: rgb(82, 82, 82);
    color: white;
}

.projects-box-container .project-box-projectName {
    font-size: 17px;
    font-weight: 500;
    margin-top: 40px;
}




/* projects 자세히보기 클릭시 뜨는 모달창 디자인  */
.projectView-container-black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.projectView-container-white {
    width: 750px;
    background-color: white;
    border-radius: 15px;
    position: relative;
}

.projectView-closeBtn {
    width: 42px;
    height: 28px;
    border-radius: 15px;
    border-style: none;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
}





/* projects 자세히보기 클릭시 뜨는 모달창 [[ 내부 ]] 디자인  */
.readMore-container {
    flex-direction: column;
}

.readMore-container .readMore-title-container {
    width: 100%;
    flex-direction: column;
    padding: 70px 50px 50px 50px;
    margin-bottom: 25px;
    letter-spacing: 1px;
    box-shadow: 3px 0px 5px rgb(0, 0, 0, 0.2);
}

.readMore-title-container .readMore-name {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}

.readMore-title-container .readMore-date {
    font-size: 14px;
}

.readMore-container .common-readMore-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 17px 45px 0px 45px;
    margin-bottom: 2px;
}

.common-readMore-text-container .common-readMore-text {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.common-readMore-text-container .common-readMore-text-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    overflow-y: hidden;
}

.common-readMore-text-container .common-readMore-text-number {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.readMore-container .readMore-image-container {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-bottom: 40px;
}

.readMore-container .readMore-image-container img {
    width: 96%;
    height: 180px;
    margin: 20px 10px 0px 10px;
    border-radius: 10px;
}

.common-readMore-text-container .readMore-linkBtn {
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    background-color: rgb(206, 217, 253);
    border-radius: 15px;
    border-style: none;
    margin-right: 15px;
    box-shadow: 2px 2px 3px rgb(0, 0, 0, 0.1);
    margin-bottom: 60px;
}

.common-readMore-text-container .readMore-linkBtn a {
    color: black;
}

.common-readMore-text-container .readMore-linkBtn:hover {
    background-color: rgb(181, 194, 226);
}




/* ---------------- 1024px, 768px, 480px --------------- */

/* 화면 너비가 1024px 이하일때 적용되는 반응형 스타일  */
@media screen and (max-width: 1024px) {

    .projects-box .projects-box-img {
        height: 230px;
    }

    /* projects 자세히보기 클릭시 뜨는 모달창 [[ 내부 ]] 반응형 디자인  */
    .readMore-container .readMore-image-container {
        flex-direction: column;
    }
    .readMore-container .readMore-image-container img {
        height: 170px;
        margin: 20px 20px 0px 20px;
    }

}


/* 화면 너비가 480px이하일때 적용되는 반응형 스타일 */
@media screen and (max-width: 480px) {

    /* project의 헤더 부분 반응형 스타일  */
    .project-container {
        padding: 25px;
    }

    .project-header-container .project-header-text {
        font-size: 15px;
    }

    /* projects 카드 반응형 스타일  */
    .projects-container .projects-box-container {
        height: 420px;
        margin: 20px 0px 20px 0px;
    }

    .projects-box .projects-box-img {
        height: 190px;
    }

    .projects-box .proejcts-box-content {
        padding: 18px;
    }

    .projects-box .project-box-name {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .projects-box .project-box-shortDescription {
        font-size: 13px;
    }

    .projects-box .project-box-toolsContainer {
        margin-bottom: 10px;
        flex-wrap: wrap;

    }
    
    .projects-box-btn-container .projects-box-btn {
        width: 140px;
        height: 20x;
        margin: 0px 10px 0px 10px;
        font-size: 13px;
        border: 1px solid rgb(82, 82, 82);
    }


    .projectView-container-black {
        padding: 40px 23px 23px 23px;
    }

    /* projects 자세히보기 클릭시 뜨는 모달창 [[ 내부 ]] 디자인  */
    .readMore-container .readMore-title-container {
        padding: 70px 25px 40px 25px;
    }
    .readMore-title-container .readMore-name {
        font-size: 22px;
    }
    .readMore-container .common-readMore-text-container {
        padding: 17px 23px 0px 23px;
    }
    .common-readMore-text-container .common-readMore-text {
        font-size: 14px;
        line-height: 24px;
    }
    
    .common-readMore-text-container .common-readMore-text-title {
        font-size: 18px;
    }
    .readMore-container .readMore-image-container {
        flex-direction: column;
    }
    
    .readMore-container .readMore-image-container img {
        height: 150px;
        margin: 20px 15px 0px 15px;
    }
    .common-readMore-text-container .readMore-linkBtn {
        padding: 8px 10px 8px 10px;
        border-radius: 10px;
    }
    
    /* 모달창 닫기 버튼 반응형 디자인 */
    .projectView-closeBtn {
        width: 24px;
        height: 18px;
        top: 10px;
        right: 10px;
        font-size: 12px;
    }
    
}