/* 공통으로 사용되는 속성 */
.common-home-starIcon {
    position: fixed;
    opacity: 0;
    transition: all 1s;
}
.home-container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(239, 239, 239);
}
.home-text-container {
    flex-direction: column;
    background-color: grey;
    width: 100%;
    position: relative;

}
.home-text{
    /* background-color: yellow; */
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 130px;
    position: absolute;
    left: 50px;
}
.home-scrollIcon {
    font-size: 50px;
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
    animation: scrollIconAni 1.2s infinite linear;
}
@keyframes scrollIconAni {
    0% {
        margin-bottom: 30px;
    }
    50% {
        margin-bottom: 50px;
    }
    100% {
        margin-bottom: 30px;
    }
}


.home-starIcon-container{
    font-size: 50px;
    /* position: relative; */
}
.home-starIcon-left {
    /* position: absolute; */
    left: 100px;
    bottom: 200px;
}
.home-starIcon-right {
    /* position: absolute; */
    right: 100px;
    top: 200px;
}

