/* 공통으로 사용되는 속성 */
.common-home-starIcon {
    position: fixed;
    opacity: 0;
    transition: all 1s;
}
.common-textIcon {
    position: fixed;
    font-size: 150px;
    /* background-color: yellow; */
    /* opacity: 0; */
    /* transform: all 1s;  */
    /* transition: all 1s ease-in-out; */
}
.textIcon-container{
    /* width: 30%; */
    /* height: 100%; */
    /* background-color: green; */
    /* position: relative; */
    /* width: 30%;
    height: 100%;
    background-color: green; */
    /* width: 200px;
    height: 300px;
    background-color: green; */
    /* position: fixed; */
    /* right: 0; */

}
.icon1 {
    /* position: absolute; */
    /* top: 0; */
    top: 70px;
    right: 50px;

    /* right: 0; */
}
.icon2 {
    top: 300px;
    right: 250px;
    /* bottom: 0; */
}
.icon3 {
    top: 550px;
    right: 100px;
}
.home-container{
    width: 100vw;
    /* height: 100vh; */
    /* background-color: rgb(239, 239, 239); */
    flex-direction: column;
}
.home-text-container {
    flex-direction: column;
    /* background-color: grey; */
    width: 100%;
    /* height: 100%; */
    height: 100vh;
    /* position: relative; */

}

.home-circle-box {
    width: 300px;
    height: 300px;
    background-color: rgba(117, 117, 117, 0.1);
    border-radius: 100%;
    margin-bottom: 50px;
    /* border: 2px solid rgb(0, 0, 0,0.6); */
    font-size: 100px;
    position: relative;
}
.home-circle-box-img {
    animation: circleBoxImgAni 1.5s infinite;
    cursor: pointer;
}
/* .home-circle-box:hover::before {
    opacity: 1;
}
.home-circle-box::before {
    content: "";
    width: 250px;
    height: 55px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    bottom: 30px;
    opacity: 0;
} */
@keyframes circleBoxImgAni {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}
.home-text{
    /* background-color: yellow; */
    font-size: 90px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 130px;
    /* margin-left: 50px;
    position: absolute;
    left: 50px; */
}
.home-scrollIcon {
    font-size: 50px;
    position: absolute;
    bottom: 0;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-bottom: 30px;
    animation: scrollIconAni 1.2s infinite linear;
    opacity: 0;
    transition: opacity 1s;
}
@keyframes scrollIconAni {
    0% {
        margin-bottom: 30px;
    }
    50% {
        margin-bottom: 50px;
    }
    100% {
        margin-bottom: 30px;
    }
}


.home-starIcon-container{
    font-size: 50px;
    /* position: relative; */
}
.home-starIcon-left {
    /* position: absolute; */
    left: 100px;
    bottom: 200px;
}
.home-starIcon-right {
    /* position: absolute; */
    right: 100px;
    top: 200px;
}









.common-info-box {
    width: 500px;
    height: 300px;
    background-color: white;
    margin: 20px;
    border-radius: 50px;
    cursor: pointer;
    flex-direction: column;
    position: relative;
    padding: 30px;
    color: black;
}
.common-info-box::before {
    content: "\2191";
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    width: 70px;
    height: 70px;
    /* background-color: rgb(229, 228, 228); */
    border-radius: 50px;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    transition: transform 0.3s ease;
}
.home-info-about::before {
    color: white;
    background-color: #FFB6C1;
}
.home-info-project:before {
    color: white;
    background-color: rgb(165, 165, 246);
}
.common-info-box:hover::before {
    background-color: white;
    color: black;
}
.common-info-box:hover::before {
    /* transform: rotateX(20deg); */
    /* font-size: 120px; */
    transform: rotate(90deg);
}
.common-info-box:hover {
    box-shadow: -1px -1px 20px 0.5px rgb(0, 0, 0,0.2);
}
.common-info-box:hover .common-info-box-text {
    opacity: 1;
    /* bottom: 0; */
    transform: translateY(-40px);
}
.common-info-box:hover .common-info-box-title {
    /* top: 40px; */
    transform: translateY(-75px); 
    
}
.home-info-about:hover {
    background-color: #FFB6C1;
    /* cursor: url('HomeImg/cursorStarEmpty.png') 16 16, auto; */
}
.home-info-project:hover {
    background-color: rgb(165, 165, 246);
}

.common-info-text {
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 40px;
}
.common-info-spanText {
    font-weight: 800;
}
.common-info-box-title {
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    /* top: 40px; */
    transition: transform 0.3s ease-out;
}
.common-info-box-text {
    font-size: 18px;
    letter-spacing: 0.5px;
    position: absolute;
    bottom: 50px;
    opacity: 0;
    transition: transform 0.3s ease-out;
    text-align: center;
    line-height: 30px;
}
.home-info-container {
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
.home-info-header {
    width: 100%;
    /* background-color: grey; */
    padding-left: 80px;
    margin-bottom: 70px;
}
.home-info-header-line {
    width: 100%;
    margin-top: 20px;
    border: 0.8px solid rgb(77, 77, 77);
}
.home-info-title {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
    
}

.home-info-navigation {
    /* color: black; */
}
a {
    /* color: black; */
}