@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@100..900&display=swap');
a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}


/* 공통으로 사용되는 속성 */
.common-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.common-background {
  background-color: rgb(238, 239, 240);
}

/* ----------- 별 로고 ----------- */
.pageLogo {
  position: fixed;
  margin: 25px 0px 0px 90px;
  cursor: pointer;
  z-index: 100;
}
.logoImg:hover {
  animation: logoRotateAni 2s infinite linear;
}
@keyframes logoRotateAni {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* ----------- 메뉴 ----------- */
.menu {
  width: 50px;
  cursor: pointer;
  margin: 30px 0px 0px 30px;
  position: fixed;
  z-index: 100;
}
.common-menu-line {
  width: 40px;
  height: 3px;
  background-color: black;
  margin: 8px 0px 8px 0px;
  transition: all 0.3s ease;
}
.active .common-menu-line:nth-child(1) {
  transform: translateY(11px) rotate(40deg);
  background-color: white;
}
.active .common-menu-line:nth-child(2) {
  opacity: 0;
}
.active .common-menu-line:nth-child(3) {
  transform: translateY(-11px) rotate(-40deg);
  background-color: white;
}





