a {
    color: white;
}

.common-link:hover, .common-icon:hover {
    color: rgb(255, 247, 22);
    cursor: url('MenuImg/cursorStarEmpty.png') 16 16, auto;
}

.common-icon {
    margin: 0px 7px 0px 7px;
    cursor: pointer;
}

.menu-container {
    width: 100vw;
    height: 100vh;
    background-color: #303031;
    flex-direction: column;
}

.menu-ul {
    list-style: none;
    font-size: 60px;
    font-weight: 600;
    line-height: 90px;
    letter-spacing: 4px;
    flex-direction: column;
}
.menu-contact-container {
    width: 300px;
    height: 200px;
    flex-direction: column;

}
.menu-icons {
    width: 180px;
    height: 68px;
    border-radius: 20px;
    background-color: rgb(97, 97, 97);
    color: white;
    font-size: 35px;
}
.custom-cursor {
    cursor: auto;
}

/* menu div에 마우스 올라오면 '별'아이콘으로 마우스커서 변경 */
.custom-cursor-hover {
    cursor: url('MenuImg/cursorStar.png') 16 16 , auto;
}

.menuLinkContainer {
    padding: 20px;
    flex-direction: row;
    position: relative;
}
/* 메뉴 아이콘(이메일,블로그,깃허브)에 마우스 올리면 링크 표시*/
.menuLink {
    padding: 6px 15px 6px 15px;
    border-radius: 20px;
    margin-top: 20px;
    background-color:rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.menuLink-copyBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    right: 0;
    color: black;
    font-size: 16px;
}
.menuLink-copyBtn:hover::after {
    content: '링크복사';
    font-size: 13px;
    margin-left: 5px;
}
.menuLink-copyBtn:hover {
    width: 76px;
    border-radius: 10px;
    background-color: rgb(255, 247, 22);
}

/* 화면 너비가 768px이하일때 적용되는 반응형 스타일 */
@media screen and (max-width: 768px) {
    .menu-ul {
        font-size: 50px;
        line-height: 70px;
    }
    .menu-icons {
        width: 150px;
        height: 60px;
        font-size: 30px;
    }
}