a {
    color: white;
}

a:hover, .common-icon:hover {
    color: rgb(255, 247, 22);
    cursor: url('MenuImg/cursorStarEmpty.png') 16 16, auto;
}

.common-icon {
    margin: 0px 7px 0px 7px;
    cursor: pointer;
}

.menu-container {
    width: 100vw;
    height: 100vh;
    background-color: #333333;
    flex-direction: column;
}

.menu-ul {
    list-style: none;
    font-size: 60px;
    font-weight: 600;
    line-height: 90px;
    letter-spacing: 4px;
    flex-direction: column;
}

.menu-contact {
    width: 180px;
    height: 68px;
    border-radius: 20px;
    margin-top: 50px;
    background-color: rgb(97, 97, 97);
    color: white;
    font-size: 35px;
}

.custom-cursor {
    cursor: auto;
}

/* menu div에 마우스 올라오면 '별'아이콘으로 마우스커서 변경 */
.custom-cursor-hover {
    cursor: url('MenuImg/cursorStar.png') 16 16 , auto;
}



.menu {
    width: 40px;
    height: 40px;
    flex-direction: column;
    cursor: pointer;
    margin: 20px 0px 0px 20px;
    position: fixed;
  }
  .menu-line1,
  .menu-line2,
  .menu-line3 {
    width: 38px;
    height: 4.5px;
    background-color: black;
    margin: 3.3px 0px 3.3px 0px;
    border-radius: 10px;
  }